urllib3==2.7.0
requests==2.34.2
boto3==1.42.36
pyjwt==2.14.0
psycopg2-binary==2.9.11
psycopg[pool,binary]==3.3.2
cachetools==6.2.6
bcrypt==4.2.1

fastapi==0.128.0
uvicorn[standard]==0.40.0
python-decouple==3.8
pydantic[email]==2.12.5
apscheduler==3.11.2

redis==7.1.0